<board
	class="vw-100 vh-100"
	[boardSize]="100"
	cellBorderColor="lightgray"
	[framerateCap]="60"
	hoveredCellColor="lightgray"
	[minimumZoom]="0.75"
	[zoomAnimationDuration]="100"></board>

<modal
	[show]="shownModal == AppModal.Landing"
	title="Log in or sign up to contribute"
	(close)="shownModal = AppModal.None">
	<modal-body>
		To modify a Mango Place board, please create an account.<br>
		Without one, you can still spectate.
	</modal-body>

	<modal-footer class="d-flex justify-content-center">
        <button type="button"
			class="btn btn-outline-primary me-3 px-5 py-3"
			(click)="shownModal = AppModal.LogIn">Log in</button>

        <button type="button"
			class="btn btn-primary px-5 py-3"
			(click)="shownModal = AppModal.SignUp">Sign up</button>
	</modal-footer>
</modal>

<ng-template
	*ngFor="let modal of [AppModal.LogIn, AppModal.SignUp]"
	#template
	[ngTemplateOutlet]="template"
	[ngTemplateOutletContext]="{$implicit: modal == AppModal.LogIn ? 'Log in' : 'Sign up'}"
	let-title>
	<modal
		[show]="shownModal == modal"
		[title]="title"
		(close)="shownModal = AppModal.None">
		<form [action]="modal == AppModal.LogIn ? '/login' : '/signup'" method="post">
			<modal-body>
				<div class="form-floating mb-2">
					<input type="text"
						id="username-input"
						[class]="'form-control' + (error == AppModalError.AccountExists || error == AppModalError.NonexistentUsername ? ' is-invalid' : '')"
						name="username"
						placeholder="Username">

					<label for="username-input" required>Username</label>
					<div
						class="invalid-feedback"
						*ngIf="error == AppModalError.AccountExists">
						That username is already taken.
					</div>

					<div
						class="invalid-feedback"
						*ngIf="error == AppModalError.NonexistentUsername">
						That username doesn't exist.
					</div>
				</div>

				<div class="form-floating mb-2">
					<input type="password"
						id="password-input"
						[class]="'form-control' + (error == AppModalError.IncorrectPassword ? ' is-invalid' : '')"
						name="password"
						placeholder="Password"
						(input)="validatePasswordConfirmation()"
						#passwordInput>

					<label for="password-input" required>Password</label>
					<div
						class="invalid-feedback"
						*ngIf="error == AppModalError.IncorrectPassword">
						Incorrect password.
					</div>
				</div>

				<div class="form-floating" *ngIf="modal == AppModal.SignUp">
					<input type="password"
						id="confirm-password-input"
						class="form-control"
						placeholder="Confirm password"
						(input)="validatePasswordConfirmation()"
						#passwordConfirmInput>

					<label for="confirm-password-input" required>Confirm password</label>
				</div>
			</modal-body>

			<modal-footer>
				<button type="submit" class="btn btn-primary">{{ title }}</button>
			</modal-footer>
		</form>
	</modal>
</ng-template>
